@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@using Dloc.Domain.Enumeration
@using DLOC.ControleAvesWeb.Util.Menssagem
@using Dloc.Domain.Entities;



@{ ViewData["Title"] = "Aves";

    var pagedList = (IPagedList)ViewBag.Aves; }


<link href="~/css/PagedList.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<div class="container">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "Ave")" class="btn btn-sm btn-outline-primary" title="Cadastrar">Cadastrar @ViewData["Title"] </a>
            <div class="pull-right text-right">
                Total:  <span class="badge badge-pill badge-dark">100  @*@Model.QtdAtiva*@</span>
            </div>
        </div>
        <div class="card-body">

            @*<partial name="_AvesPartial" />*@




            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="ativo-tab" data-toggle="tab" href="#ativo" role="tab" aria-controls="ativo" aria-selected="true">Ativos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="inativo-tab" data-toggle="tab" href="#inativo" role="tab" aria-controls="inativo" aria-selected="false">Inativos</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane fade show active" id="ativo" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Cor</th>
                                <th scope="col">Data Nascimento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Aves)
                            {
                                <tr ondblclick="goToDetails(@item.id)"
                                    @if (item.ativo == false) { @: class="alert alert-danger" role="alert"
                                    }>
                                    <td>  @item.codigo </td>
                                    <td>@item.nome</td>
                                    <td>
                                        @if (@item.sexo.Equals((int)SexoEnun.Femea))
                                        {
                                            <span>Femea</span> }
                                        else
                                        {
                                            <span>Macho</span>}
                                    </td>
                                    <td>@item.cor</td>
                                    <td>@item.dt_nascimento</td>
                                    <td style="width:150px;">

                                        @if (item.ativo)
                                        {
                                            <a href="#" id="@item.id" class="btn btn-danger btn-sm text-white delete" onclick="excluir(this)" data-toggle="modal" data-target="#excluir" title="Desativar"><i class="far fa-trash-alt"></i></a>
                                            <a href="#" id="@item.id" class="btn btn-warning btn-sm text-white edit" title="Editar"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn btn-secondary btn-sm disabled text-white" title="Reativar"><i class="fas fa-trash-restore-alt"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-secondary btn-sm disabled text-white" title="Desativar"><i class="far fa-trash-alt"></i></a>
                                            <a href="#" class="btn btn-secondary btn-sm disabled text-white" title="Editar"><i class="fas fa-edit"></i></a>
                                            <a href="#" id="@item.id" class="btn btn-primary btn-sm text-white reativar" onclick="reativar(this)" data-toggle="modal" data-target="#reativar"  title="Reativar"><i class="fas fa-trash-restore-alt"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    @(Html.Pager(pagedList)
                          .Url(page => Url.Action("Index", new { page }))
                          .WithPartialView("Paging/_Pager_85")
                          .DisplayLinkToFirstPage (PagedListDisplayMode.IfNeeded)
                          .DisplayLinkToLastPage(PagedListDisplayMode.IfNeeded)
                          .DisplayLinkToPreviousPage()
                          .DisplayLinkToNextPage()
                          .MaximumPageNumbersToDisplay(3)
                          .Build())

                </div>



                <div class="tab-pane fade" id="inativo" role="tabpanel" aria-labelledby="contact-tab">
                    <table id="tableInativo" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Sexo</th>
                                <th>Cor</th>
                                <th>Data Nascimento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<Ave>)ViewBag.AvesInativas)
                            {
                                <tr ondblclick="goToDetails(@item.id)">
                                    <td>@Html.DisplayFor(modelItem => item.codigo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.nome)</td>
                                    <td>
                                        @if (item.sexo.Equals((int)SexoEnun.Femea))
                                        {
                                            <span>Femea</span> }
                                        else
                                        {
                                            <span>Macho</span>}
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.cor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.dt_nascimento)</td>
                                    <td>
                                        <a href='@Url.Action("Reativar", "Caracteristica", new { id = item.id} )' title="Reativar">
                                            <img src="~/img/icons/highlight_off_black_24dp.svg" width="30" height="30" class="d-inline-block align-top" alt="Reativar">
                                        </a>

                                        <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @*@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))*@

                </div>

            </div>
        </div>
        <partial name="_PartiaModalExcluir" />
        <partial name="_PartiaModalReativar" />
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(".deletemodal").click(function () {

            var id = $('#id_selected').val();
            $.ajax({
            url: "@(Url.Action("Desativar", "Ave"))",
            data: { "id": id },
            cache: false,
            type: "GET",
            success: function (result) {

                if (result.data.length == 0) {
                    var linha = $("#" + id);
                    $(linha).parents('tr').remove();
                     toastr.success("@Mensagens.msgDesativarSucesso", {});
                }
                else if (result.data.length == 1) {
                    toastr.error("@Mensagens.msgErro", {});
                }
            }});
        });

        $(".reativar-modal").click(function () {

            var id = $('#id_selected').val();
            $.ajax({
            url: "@(Url.Action("Reativar", "Ave"))",
            data: { "id": id },
            cache: false,
            type: "GET",
            success: function (result) {

                if (result.data.length == 0) {
                    var linha = $("#" + id);
                    $(linha).parents('tr').remove();
                     toastr.success("@Mensagens.msgReativarSucesso", {});
                }
                else if (result.data.length == 1) {
                    toastr.error("@Mensagens.msgErro", {});
                }
            }});
        });

        function excluir(e) {

            $('#id_selected').remove();
            var input = '<input type="hidden" id="id_selected" value="' + e.id + '" />';
            $(".card-body").append(input);
        }

        function reativar(e) {

            $('#id_selected').remove();
            var input = '<input type="hidden" id="id_selected" value="' + e.id + '" />';
            $(".card-body").append(input);
        }

        function goToDetails(id) {

		    location.href = "@Url.Action("Details", "Ave", new { id = "id" })".replace("id", id.toString());
        }

       function goToEdit(id) {

            location.href = "@Url.Action("Edit", "Ave", new {id= "id" })".replace("id", id.toString());
       }

    </script>
}
